html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
		"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-family: "Noto Sans JP", sans-serif;
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}
}
