@use "asset" as asset;

footer {
  margin-top: 100px;
  width: 100%;
  height: 120px;
  .navbar {
    width: 100%;
    height: 120px;
    background-image: url("/public/img/nav_frame.svg");
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 45px;
        height: 25px;
        font-size: 0.8rem;
        &:nth-child(3) {
          height: 35px;
          margin-top: 0;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: asset.$baseColor;
          text-align: center;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
