@use "asset" as asset;
@use "_footer";

body {
  background: asset.$baseColor;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  border-bottom: solid 2px asset.$baseColor;
  background: asset.$mainColor;
  figure {
    margin-left: 24px;
    margin-bottom: 8px;
    width: 24px;
    height: 21px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    color: asset.$baseColor;
    font-size: 1.6rem;
    margin-left: 106px;
    margin-bottom: 8px;
  }
}

main {
  width: 100%;
  height: 564px;
  .title {
    width: 358px;
    height: 94px;
    background: asset.$baseBright;
    border: solid 1.5px asset.$mainColor;
    border-radius: 15px;
    margin: 16px auto;
    padding-top: 16px;
    h2 {
      font-size: 1.1rem;
      font-weight: normal;
      color: asset.$mainColor;
      margin-left: 24px;
    }
    p {
      @extend h2;
    }
    h3 {
      margin-top: 8px;
      font-size: 1.7rem;
      font-weight: bold;
      color: asset.$mainColor;
      text-align: center;
    }
  }
  .section_wrap {
  }
  .btn_wrap {
    width: 100%;
    height: 168px;
    background: asset.$baseBright;
    padding-top: 24px;
    .create_btn {
      width: 300px;
      height: 80px;
      margin: 0 auto;
      a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 80px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: asset.$baseBright;
        background: asset.$mainColor;
        border: solid 2px asset.$baseBright;
        border-radius: 15px;
        box-shadow: 4px 4px asset.$basePale;
      }
    }
  }
}

footer {
  margin-top: 48px;
  position: fixed;
}
