@use "asset" as asset;
@use "_footer";

body {
  background: asset.$baseColor;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  border-bottom: solid 2px asset.$baseColor;
  background: asset.$mainColor;
  figure {
    margin-left: 24px;
    margin-bottom: 8px;
    width: 24px;
    height: 21px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    color: asset.$baseColor;
    font-size: 1.6rem;
    margin-left: 120px;
    margin-bottom: 8px;
  }
}

main {
  width: 100%;
  height: 564px;
  .current {
    width: 358px;
    height: 208px;
    border: solid 1.5px asset.$mainColor;
    background: asset.$baseBright;
    border-radius: 15px;
    margin: 16px auto;
    .flex_wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 24px;
      .wrapper {
        width: 140px;
        height: 160px;
        background: asset.$mainColor;
        padding-top: 16px;
        figure {
          width: 90px;
          height: 115px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .text {
        width: 100px;
        height: 100px;
        h2 {
          font-size: 2.4rem;
          font-weight: bold;
          color: asset.$mainColor;
        }
        p {
          @extend h2;
        }
        span {
          display: block;
          font-size: 1.6rem;
          font-weight: bold;
          color: asset.$mainColor;
          padding-top: 32px;
        }
      }
    }
  }
  a {
    display: block;
    width: 358px;
    height: 84px;
    line-height: 84px;
    margin: 0 auto;
    background: asset.$mainColor;
    font-size: 2rem;
    font-weight: bold;
    color: asset.$basePale;
    text-align: center;
    border-radius: 15px;
    border: solid 1.5px asset.$basePale;
  }
  .progress {
    width: 358px;
    height: 770px;
    margin: 16px auto;
    padding-top: 20px;
    border: solid 1.5px asset.$mainColor;
    border-radius: 15px;
    background: asset.$baseBright;
    .section {
      display: flex;
      align-items: center;
      .num {
        width: 50px;
        height: 70px;
        margin-left: 30px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        margin-bottom: 16px;
        margin-left: 8px;
        h3 {
          font-size: 1.8rem;
          font-weight: bold;
          color: asset.$mainColor;
        }
        p {
          font-size: 0.8rem;
          font-weight: bold;
          color: asset.$mainColor;
        }
      }
      .fav {
        width: 24px;
        height: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  position: fixed;
}
