@use "asset" as asset;
@use "_footer";

body {
  background: asset.$baseColor;
  background-image: url("/public/img/stars.svg");
}

header {
  width: 100%;
  height: 150px;
  .logo {
    width: 100%;
    height: 50px;
    background: asset.$mainColor;
    padding-top: 12px;
    figure {
      width: 100px;
      height: 30px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .goal {
    width: 100%;
    height: 100px;
    background: asset.$baseBright;
    p {
      color: asset.$mainColor;
      font-size: 1.6rem;
      padding-top: 24px;
      text-align: center;
    }
    .progress_bar {
      width: 358px;
      height: 25px;
      border: solid 1px #000;
      border-radius: 40px;
      margin: 8px auto;
      background: asset.$mainColor;
      position: relative;
      .inner_bar {
        width: 242px;
        height: 23px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        background: #ffd12f;
        position: absolute;
        top: 0;
        left: 0;
      }
      p {
        color: #b58d00;
        text-align: center;
        position: relative;
        top: -25px;
      }
    }
  }
}

main {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  .slider {
    width: 358px;
    height: 280px;
    border: solid 2px asset.$mainColor;
    border-radius: 30px;
    background: asset.$baseBright;
    margin: 0 auto;
    p {
      color: asset.$mainColor;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 20px;
      text-align: center;
      span {
        display: inline-block;
        width: 90px;
        height: 50px;
        border: solid 2px asset.$mainColor;
        background: asset.$basePale;
        line-height: 50px;
        font-size: 2.6rem;
        margin: 0 16px;
      }
    }
    .inner_slider {
      width: 280px;
      height: 155px;
      background: asset.$mainColor;
      margin: 0 auto;
      padding-top: 16px;
      figure {
        width: 100px;
        height: 127px;
        background: asset.$mainColor;
        margin: 0 auto;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    background-image: url("/public/img/planet.png");
    // position: absolute;
    figure {
      position: relative;
      bottom: 45px;
      left: 270px;
      width: 80px;
      height: 40px;
      img {
        width: 100%;
      }
    }
    .inner_wrapper {
      width: 100%;
      height: 112px;
      p {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        color: asset.$mainColor;
        margin-bottom: 8px;
      }
      a {
        display: block;
        font-size: 2rem;
        color: asset.$baseColor;
        font-weight: bold;
        text-align: center;
        width: 300px;
        height: 80px;
        line-height: 80px;
        background: asset.$mainColor;
        border: solid 2px asset.$baseColor;
        border-radius: 15px;
        margin: 0 auto;
        box-shadow: 4px 4px asset.$baseBright;
      }
    }
  }
}
