@use "asset" as asset;
@use "_footer";

body {
  background: asset.$baseColor;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  border-bottom: solid 2px asset.$baseColor;
  background: asset.$mainColor;
  figure {
    margin-left: 24px;
    margin-bottom: 8px;
    width: 24px;
    height: 21px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    color: asset.$baseColor;
    font-size: 1.6rem;
    margin-left: 120px;
    margin-bottom: 8px;
  }
}

main {
  width: 100%;
  height: 628px;
  .search_bar {
    width: 100%;
    height: 60px;
    background: asset.$mainColor;
    padding: 10px 35px;
    position: relative;
    a {
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      bottom: 18px;
      left: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    input {
      width: 320px;
      height: 40px;
      border-radius: 32px;
      background: #f3f5f8;
      text-align: center;
      font-size: 1.3rem;
      border: solid 1.5px asset.$baseColor;
      &::placeholder {
        color: asset.$basePale;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  .current {
    width: 100%;
    height: 180px;
    margin-top: 16px;
    h2 {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 8px;
      color: asset.$mainColor;
    }
    .wrapper {
      width: 358px;
      height: 160px;
      background: asset.$mainColor;
      margin: 0 16px;
      border-radius: 15px;
      padding-top: 16px;
      figure {
        width: 100px;
        height: 127px;
        background: asset.$mainColor;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .level {
    width: 100%;
    height: 160px;
    margin-top: 24px;
    h2 {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 8px;
      color: asset.$mainColor;
    }
    .level_wrap {
      display: flex;
      justify-content: space-around;
      p {
        width: 114px;
        height: 140px;
        border: solid 1.5px asset.$mainColor;
        background-color: asset.$baseBright;
        a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 1.8rem;
          color: asset.$mainColor;
          line-height: 140px;
          text-align: center;
        }
      }
      .empty_box {
        width: 114px;
        height: 140px;
        border: solid 1.5px asset.$mainColor;
        background-color: asset.$baseBright;
        position: relative;
        .line {
          width: 179px;
          transform: rotate(51deg);
          transform-origin: top left;
          border-top: 1.5px solid asset.$mainColor;
          position: absolute;
          top: -1px;
          left: 1px;
        }
      }
    }
  }
  .change {
    width: 100%;
    height: 160px;
    margin-top: 16px;
    h2 {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 8px;
      color: asset.$mainColor;
    }
    .change_wrap {
      display: flex;
      justify-content: space-around;
      .card {
        width: 114px;
        height: 140px;
        background: asset.$mainColor;
        border: solid 1.5px asset.$baseBright;
        padding-top: 25px;
        &:nth-child(3) {
          padding-top: 54px;
        }
        figure {
          margin: 0 auto;
          background: asset.$mainColor;
          &.html {
            width: 66px;
            height: 85px;
          }
          &.shikisai {
            width: 90px;
            height: 90px;
          }
          &.it {
            width: 100px;
            height: 25px;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
footer {
  margin-top: 0;
}
