footer
  .navbar
    ul
      li
        a(href="#")
          img(src="img/data.svg", alt="data")
          | データ
      li
        a(href="#")
          img(src="img/dictionary.svg", alt="dictionary")
          | 辞書
      li
        a(href="index.html")
          img(src="img/home.svg", alt="home")
      li
        a(href="quiz.html")
          img(src="img/quiz.svg", alt="quiz")
          | クイズ
      li
        a(href="#")
          img(src="img/account.svg", alt="account")
          | アカウント