doctype html
html(lang="ja")
  head 
    include _html_header
    title Favorite 
    link(rel="stylesheet", href="css/favorite.css")
  body 
    header 
      figure
          a(href="quiz_top.html") 
            img(src="img/arrow.svg", alt="")
      h1 オリジナルとお気に入り
    main 
      .btn_wrap 
        a.fav(href="#") お気に入り問題集
        a.ori(href="original.html") オリジナル問題集
      h2 HTML5 Level1 
      .section_wrap 
        .section 
          figure 
            img(src="img/progress_bar2.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 30%
            figure 
              img(src="img/favorite_pressed.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar2.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 44%
            figure 
              img(src="img/favorite_pressed.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar2.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 67%
            figure 
              img(src="img/favorite_pressed.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar2.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 85%
            figure 
              img(src="img/favorite_pressed.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar2.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 89%
            figure 
              img(src="img/favorite_pressed.svg", alt="")
    include _main_footer
    include _html_footer