doctype html
html(lang="ja")
  head 
    include _html_header
    title Lowrate
    link(rel="stylesheet", href="css/lowrate.css")
  body 
    header 
      figure
          a(href="review.html") 
            img(src="img/arrow.svg", alt="")
      h1 正答率の低い問題集
    main 
      h2 HTML5 Level1 
      .section_wrap 
        .section 
          figure 
            img(src="img/progress_bar.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 30%
            figure 
              img(src="img/favorite.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 44%
            figure 
              img(src="img/favorite.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 67%
            figure 
              img(src="img/favorite.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 85%
            figure 
              img(src="img/favorite.svg", alt="")
        .section 
          figure 
            img(src="img/progress_bar.svg", alt="")
          h3 HTML5 Level1 
          p HTML基礎 / Section3
          .score_wrap 
            p.sub あなたの正答率
            span 89%
            figure 
              img(src="img/favorite.svg", alt="")
    include _main_footer
    include _html_footer