doctype html
html(lang="ja")
  head 
    include _html_header
    title Quiz Top 
    link(rel="stylesheet", href="css/quiz_top.css")
  body 
    header 
      figure
          a(href="quiz.html") 
            img(src="img/arrow.svg", alt="")
      h1 クイズ
    main 
      .button_wrap
        p
          a(href="general.html") 既存問題
          img(src="img/mascot_btn1.svg", alt="")
        p
          a(href="review.html") 復習問題
          img(src="img/mascot_btn2.svg", alt="")
        p
          a(href="favorite.html") オリジナル問題  
          img(src="img/mascot_btn3.svg", alt="")
    include _main_footer
    include _html_footer