<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
		/>
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="" />
		<meta name="description" content="ここに説明文を設定" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@twitteraccount" />
		<meta property="og:site_name" content="サイト名" />
		<meta property="og:title" content="サイトタイトル" />
		<meta property="og:description" content="サイト説明文" />
		<meta property="og:url" content="https://www.hogehoge.com" />
		<meta property="og:image" content="https://www.hogehoge.com./hoge.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="400" />
		<meta property="og:type" content="website" />
		<link
			rel="shortcut icon"
			href="http://www.hoge.hoge/favicon.ico"
			type="image/vnd.microsoft.icon"
		/>
		<link rel="apple-touch-icon" href="http://www.hoge.hoge/logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&amp;display=swap"
			rel="stylesheet"
		/>
		<title>Add it to your list</title>
		<link rel="stylesheet" href="/css/add.css" />
	</head>
	<body>
		<header>
			<figure>
				<a href="/create"> <img src="/images/arrow.svg" alt="" /></a>
				<!-- go  to create.ejs -->
			</figure>
			<h1>問題メーカー</h1>
		</header>
		<main>
			<div class="title">
				<h2>HTML5 Level1</h2>
				<p>オリジナル問題 全7問</p>
				<h3>毎回忘れる問題！これは抑えたい問題集</h3>
			</div>
			<div class="section_wrap">
				<div class="section"></div>
			</div>
			<div class="btn_wrap">
				<div class="create_btn"><a href="#">問題集を新しく作る</a></div>
			</div>
		</main>
		<footer>
			<div class="navbar">
				<ul>
					<li>
						<a href="#"><img src="/images/data.svg" alt="data" />データ</a>
					</li>
					<li>
						<a href="#"
							><img src="/images/dictionary.svg" alt="dictionary" />辞書</a
						>
					</li>
					<li>
						<a href="/"><img src="/images/home.svg" alt="home" /></a>
						<!-- go to index.ejs -->
					</li>
					<li>
						<a href="/quiz"
							><img src="/images/quiz_selected.svg" alt="quiz" />クイズ</a
						>
						<!-- go to quiz.ejs -->
					</li>
					<li>
						<a href="#"
							><img src="/images/account.svg" alt="account" />アカウント</a
						>
					</li>
				</ul>
			</div>
		</footer>
		<script src=""></script>
	</body>
</html>
