<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=], initial-scale=1.0" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
		/>
		<meta name="format-detection" content="telephone=no" />
		<meta
			name="keywords"
			content="HTML5, 資格, 勉強アプリ, 学習, 練習, クイズ, 試験, コーディング"
		/>
		<meta
			name="description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@twitteraccount" />
		<meta property="og:site_name" content="シカクエ" />
		<meta
			property="og:title"
			content="もう挫折しない！資格勉強を支えるオトモ"
		/>
		<meta
			property="og:description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta property="og:url" content="https://shikakue.de.r.appspot.com/" />
		<meta property="og:image" content="/images/og-img.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="400" />
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

		<link
			rel="shortcut icon"
			href="/images/favicon.ico"
			type="image/vnd.microsoft.icon"
		/>
		<link rel="apple-touch-icon" href="/images/og-img.png" />
		<title>CREATE QUESTION</title>
		<link rel="stylesheet" href="/css/home.css" />
		<link rel="stylesheet" href="/css/create-quest.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/home">HOME</a></li>
					<li><a href="/create-user">CREATE</a></li>
					<li><a class="active" href="/#">CREATE QUESTION</a></li>
					<li><a href="/">INDEX PAGE</a></li>
					<li><a href="/quiz-start">QUIZ</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="form">
				<form action="/create-question" method="post">
					<fieldset>
						<legend>Add new question</legend>
						<div class="input-group">
							<label for="name">Question</label>
							<input
								type="text"
								name="question"
								id="question"
								placeholder="Enter your question"
							/>
						</div>
						<div class="input-group">
							<label for="answer_1">Answer 1</label>
							<input
								type="text"
								name="answer_1"
								id="answer_1"
								placeholder="Enter your answer 1"
							/>
						</div>
						<div class="input-group">
							<label for="answer_2">Answer 2</label>
							<input
								type="text"
								name="answer_2"
								id="answer_2"
								placeholder="Enter your answer 2"
							/>
						</div>
						<div class="input-group">
							<label for="answer_3">Answer 3</label>
							<input
								type="text"
								name="answer_3"
								id="answer_3"
								placeholder="Enter your answer 3"
							/>
						</div>
						<div class="input-group">
							<label for="answer_4">Answer 4</label>
							<input
								type="text"
								name="answer_4"
								id="answer_4"
								placeholder="Enter your answer 4"
							/>
						</div>
						<div class="input-group">
							<label for="correct_answer">Correct answer</label>
							<input
								type="text"
								name="correct_answer"
								id="correct_answer"
								placeholder="Enter your correct answer"
							/>
						</div>
						<div class="input-group">
							<label for="explain_text">Explain text</label>
							<input
								type="text"
								name="explain_text"
								id="explain_text"
								placeholder="Enter your answer explain text"
							/>
						</div>
						<br />
						<button type="submit" id="submit">Submit</button>
					</fieldset>
				</form>
			</div>
		</main>
	</body>
</html>
