<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=], initial-scale=1.0" />
		<title>EDIT USER</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/home">HOME</a></li>
					<li><a href="/create-user">CREATE</a></li>
					<li><a href="/create-question">Create-question</a></li>
					<li><a href="/">LANDING PAGE</a></li>
					<li><a href="/quiz-start">QUIZ</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="form">
				<form action="/edit-user" method="post">
					<fieldset>
						<legend>Edit user information</legend>
						<div class="input-group d-none">
							<label for="id">Id:</label>
							<input
								type="text"
								name="id"
								id="id"
								placeholder="Enter your id"
								value="<%= user.id  %>"
							/>
						</div>
						<div class="input-group">
							<label for="name">Name:</label>
							<input
								type="text"
								name="name"
								id="name"
								placeholder="Enter your name"
								value="<%= user.name  %>"
							/>
						</div>
						<div class="input-group">
							<label for="email">Email:</label>
							<input
								type="text"
								name="email"
								id="email"
								placeholder="Enter your email"
								value="<%= user.email  %>"
							/>
						</div>
						<div class="input-group">
							<label for="City">City:</label>
							<input
								type="text"
								name="city"
								id="City"
								placeholder="Enter your City"
								value="<%= user.city  %>"
							/>
						</div>
						<br />
						<button type="submit" id="submit">Submit</button>
					</fieldset>
				</form>
			</div>
		</main>
	</body>
</html>
