<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
		/>
		<meta name="format-detection" content="telephone=no" />
		<meta
			name="keywords"
			content="HTML5, 資格, 勉強アプリ, 学習, 練習, クイズ, 試験, コーディング"
		/>
		<meta
			name="description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@twitteraccount" />
		<meta property="og:site_name" content="シカクエ" />
		<meta
			property="og:title"
			content="もう挫折しない！資格勉強を支えるオトモ"
		/>
		<meta
			property="og:description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta property="og:url" content="https://shikakue.de.r.appspot.com/" />
		<meta property="og:image" content="/images/og-img.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="400" />
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

		<link
			rel="shortcut icon"
			href="/images/favicon.ico"
			type="image/vnd.microsoft.icon"
		/>
		<link rel="apple-touch-icon" href="/images/og-img.png" />
		<title>Quiz</title>
		<link rel="stylesheet" href="/css/ress.css" />
		<link rel="stylesheet" href="/css/quiz-start.css" />
	</head>
	<body>
		<header>
			<h1>既存問題</h1>
		</header>
		<div class="container">
			<div class="start-display">
				<div class="title">
					<div class="img"></div>
					<div class="text-box">
						<h2>HTML5 Level1</h2>
						<p>HTML基礎 ②</p>
					</div>
				</div>
				<div class="description">
					<p>出題数</p>
					<p>10問</p>
				</div>
				<div class="description">
					<p>全体のクリア%</p>
					<p>82%</p>
				</div>
				<div class="description">
					<p>前回のクリア%</p>
					<p>65%</p>
				</div>
				<div class="char-img"></div>
				<button class="start-btn">スタート</button>
			</div>
			<div class="countdown-time">
				<h2 class="title">Start in</h2>
				<p class="timer">1</p>
			</div>
			<div class="quiz-container">
				<div class="quiz-header">
					<h2 class="status">問数1/30</h2>
					<p class="timer">00:00</p>
				</div>
				<div class="quiz-content">
					<div class="question-box">
						<h2 class="q-number">q1</h2>
						<p class="question">abccsw</p>
					</div>
					<div class="answer-box">
						<button class="answer">
							答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1答え1
						</button>
						<button class="answer">答え2</button>
						<button class="answer">答え3</button>
						<button class="answer">答え4</button>
					</div>
				</div>
			</div>
			<div class="clear-noti-box">
				<h2 class="clear-noti">結果</h2>
				<p class="clear-noti-text"><span class="clear-quest">5</span>/10</p>
				<p class="clear-noti-text">
					クリアタイム：<span class="clear-time">00:00</span>
				</p>
				<div class="favor-button"><p>問題集をお気に入りに入れる</p></div>
				<div class="answer-check-box">
					<p class="check-box-text">回答一覧<br />解説を見る</p>
					<div class="check-box">
						<p class="u-a">Q1<span class="check">✕</span></p>
						<p class="u-a">Q2<span class="check">〇</span></p>
						<p class="u-a">Q3<span class="check">✕</span></p>
						<p class="u-a">Q4<span class="check">〇</span></p>
						<p class="u-a">Q5<span class="check">〇</span></p>
						<p class="u-a">Q6<span class="check">✕</span></p>
						<p class="u-a">Q7<span class="check">✕</span></p>
						<p class="u-a">Q8<span class="check">✕</span></p>
						<p class="u-a">Q9<span class="check">〇</span></p>
						<p class="u-a">Q10<span class="check">〇</span></p>
					</div>
				</div>
				<div class="button-box">
					<button class="back-btn">終わる</button>
					<button class="next-btn">続けてやる</button>
				</div>
			</div>
			<div class="quest-explain-box">
				<div class="top-bar">
					<h2 class="quest-explain-title">Q1</h2>
					<p class="close-button">Ⓧ</p>
				</div>
				<p class="quest-explain">問題文問題文問題文問題文問題</p>
				<div class="e-answer-box">
					<button class="e-answer e-a-cr">
						答え1答え1答え1答え1答え1答え1
					</button>
					<button class="e-answer">答え2</button>
					<button class="e-answer e-a-incr">答え3</button>
					<button class="e-answer">答え4</button>
				</div>
				<div class="explain-box">
					<h2 class="explain-title">解説</h2>
					<p class="explain-text">説解説解説解説解説解説解説</p>
				</div>
			</div>
		</div>
		<footer>
			<div class="navbar">
				<ul>
					<li>
						<a href="#"><img src="images/data.svg" alt="data" />データ</a>
					</li>
					<li>
						<a href="#"
							><img src="images/dictionary.svg" alt="dictionary" />辞書</a
						>
					</li>
					<li>
						<a href="/"><img src="images/home.svg" alt="home" /></a>
					</li>
					<li>
						<a href="/quiz"
							><img src="images/quiz_selected.svg" alt="quiz" />クイズ</a
						>
					</li>
					<li>
						<a href="#"
							><img src="images/account.svg" alt="account" />アカウント</a
						>
					</li>
				</ul>
			</div>
		</footer>
		<script src="/js/quiz-start.js"></script>
	</body>
</html>
