<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
		/>
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="" />
		<meta name="description" content="ここに説明文を設定" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@twitteraccount" />
		<meta property="og:site_name" content="サイト名" />
		<meta property="og:title" content="サイトタイトル" />
		<meta property="og:description" content="サイト説明文" />
		<meta property="og:url" content="https://www.hogehoge.com" />
		<meta property="og:image" content="https://www.hogehoge.com./hoge.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="400" />
		<meta property="og:type" content="website" />
		<link
			rel="shortcut icon"
			href="http://www.hoge.hoge/favicon.ico"
			type="image/vnd.microsoft.icon"
		/>
		<link rel="apple-touch-icon" href="http://www.hoge.hoge/logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&amp;display=swap"
			rel="stylesheet"
		/>
		<title>Quiz</title>
		<link rel="stylesheet" href="/css/quiz.css" />
	</head>
	<body>
		<header>
			<figure>
				<a href="/"> <img src="/images/arrow.svg" alt="" /></a>
				<!-- go to index.ejs -->
			</figure>
			<h1>クイズ</h1>
		</header>
		<main>
			<div class="search_bar">
				<a href="#"><img src="/images/search.svg" alt="" /></a>
				<input type="text" placeholder="他の資格を探す" />
			</div>
			<div class="current">
				<h2>選択中の資格</h2>
				<div class="wrapper">
					<figure><img src="/images/html5_logo.svg" alt="" /></figure>
				</div>
			</div>
			<div class="level">
				<h2>資格のレベル</h2>
				<div class="level_wrap">
					<p><a href="/quiz-top">レベル1</a></p>
					<!-- go to quiz_top.ejs -->
					<p><a href="#"> レベル2</a></p>
					<div class="empty_box">
						<div class="line"></div>
						<a href="#"> </a>
					</div>
				</div>
			</div>
			<div class="change">
				<h2>資格の変更</h2>
				<div class="change_wrap">
					<div class="card">
						<figure class="html">
							<a href="#"> <img src="/images/html5_logo.svg" alt="" /></a>
						</figure>
					</div>
					<div class="card">
						<figure class="shikisai">
							<a href="#"> <img src="/images/shikisai_logo.png" alt="" /></a>
						</figure>
					</div>
					<div class="card">
						<figure class="it">
							<a href="#"> <img src="/images/itpass_logo.png" alt="" /></a>
						</figure>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="navbar">
				<ul>
					<li>
						<a href="#"><img src="/images/data.svg" alt="data" />データ</a>
					</li>
					<li>
						<a href="#"
							><img src="/images/dictionary.svg" alt="dictionary" />辞書</a
						>
					</li>
					<li>
						<a href="/"><img src="/images/home.svg" alt="home" /></a>
						<!-- go to index.ejs -->
					</li>
					<li>
						<a href="/quiz"
							><img src="/images/quiz_selected.svg" alt="quiz" />クイズ</a
						>
						<!-- go to quiz.ejs -->
					</li>
					<li>
						<a href="#"
							><img src="/images/account.svg" alt="account" />アカウント</a
						>
					</li>
				</ul>
			</div>
		</footer>
		<script src=""></script>
	</body>
</html>
