<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
		/>
		<meta name="format-detection" content="telephone=no" />
		<meta
			name="keywords"
			content="HTML5, 資格, 勉強アプリ, 学習, 練習, クイズ, 試験, コーディング"
		/>
		<meta
			name="description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@twitteraccount" />
		<meta property="og:site_name" content="シカクエ" />
		<meta
			property="og:title"
			content="もう挫折しない！資格勉強を支えるオトモ"
		/>
		<meta
			property="og:description"
			content="シカクエは、HTML5検定の資格勉強をサポートするスマートフォンアプリです。忙しい通勤時間や隙間時間を利用して、楽しく学びましょう。辞書機能、不正解問題まとめ、自己問題集作成など、資格勉強を効率的かつ楽しくサポート。挫折せず、毎日の目標設定でモチベーションを保ちましょう！"
		/>
		<meta property="og:url" content="https://shikakue.de.r.appspot.com/" />
		<meta property="og:image" content="/images/og-img.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="400" />
		<meta property="og:image:height" content="400" />
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

		<link
			rel="shortcut icon"
			href="/images/favicon.ico"
			type="image/vnd.microsoft.icon"
		/>
		<link rel="apple-touch-icon" href="/images/og-img.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&amp;display=swap"
			rel="stylesheet"
		/>
		<title>Review</title>
		<link rel="stylesheet" href="/css/review.css" />
	</head>
	<body>
		<header>
			<figure>
				<a href="/quiz-top"> <img src="/images/arrow.svg" alt="" /></a>
				<!-- go to quiz_top.ejs -->
			</figure>
			<h1>復習問題</h1>
		</header>
		<main>
			<div class="button_wrap">
				<p><a href="/low-rate">正答率の低い問題集</a></p>
				<!-- go to lowrate.ejs -->
				<p><a href="/incorrect">不正解だった問題</a></p>
				<!-- go to incorrect.ejs -->
			</div>
		</main>
		<footer>
			<div class="navbar">
				<ul>
					<li>
						<a href="#"><img src="/images/data.svg" alt="data" />データ</a>
					</li>
					<li>
						<a href="#"
							><img src="/images/dictionary.svg" alt="dictionary" />辞書</a
						>
					</li>
					<li>
						<a href="/"><img src="/images/home.svg" alt="home" /></a>
						<!-- go to index.ejs -->
					</li>
					<li>
						<a href="/quiz"
							><img src="/images/quiz_selected.svg" alt="quiz" />クイズ</a
						>
						<!-- go to quiz.ejs -->
					</li>
					<li>
						<a href="#"
							><img src="/images/account.svg" alt="account" />アカウント</a
						>
					</li>
				</ul>
			</div>
		</footer>
		<script src=""></script>
	</body>
</html>
